# Modern Portfolio Theory and Asset Pricing 
## (CAPM, Beta, Alpha, SLM and Risk Drivers)

In [44]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("seaborn")
pd.options.display.float_format = '{:.2f}'.format

def ann_risk_return(returns_df):
    summary = returns_df.agg(["mean", "std"]).T
    summary.columns = ["Return", "Risk"]
    summary.Return = summary.Return*252
    summary.Risk = summary.Risk * np.sqrt(252)
    
    risk_free_return = 0.017
    risk_free_risk = 0
    rf = [risk_free_return, risk_free_risk]
    summary["Sharpe"] = (summary["Return"].sub(rf[0]))/summary["Risk"]
    
    return summary

In [31]:
stocks = yf.download(["AMZN", "BA", "DIS", "IBM", "FB", "MSFT"], start="2014-01-01", end="2018-12-31")

[**********************67%*******                ]  4 of 6 completed

KeyboardInterrupt:

In [45]:
stocks = pd.read_csv("data/port_stocks.csv", parse_dates=["Date"], index_col="Date")
stocks

              AMZN     BA    DIS     FB    IBM  MSFT
Date
2014-01-02  397.97 116.81  70.19  54.71 139.24 32.06
2014-01-03  396.44 117.62  70.05  54.56 140.07 31.84
2014-01-06  393.63 118.30  69.78  57.20 139.59 31.17
2014-01-07  398.03 120.09  70.26  57.92 142.37 31.41
2014-01-08  401.92 120.35  69.23  58.23 141.07 30.85
...            ...    ...    ...    ...    ...   ...
2018-12-21 1377.45 295.93 102.96 124.95  99.26 95.56
2018-12-24 1343.96 285.83  99.14 124.06  96.25 91.58
2018-12-26 1470.90 305.04 104.55 134.18  99.66 97.83
2018-12-27 1461.64 308.16 105.23 134.52 101.80 98.43
2018-12-28 1478.02 307.43 106.00 133.20 101.13 97.67

[1257 rows x 6 columns]

In [46]:
# stocks = stocks["Adj Close"].copy()
ret = stocks.pct_change().dropna()
summary = ann_risk_return(ret)

In [47]:
summary

      Return  Risk  Sharpe
AMZN    0.31  0.31    0.95
BA      0.22  0.23    0.88
DIS     0.10  0.19    0.44
FB      0.22  0.30    0.69
IBM    -0.04  0.20   -0.31
MSFT    0.25  0.23    1.01

In [52]:
opt_weights = pd.Series(index = stocks.columns, data = 
                        np.array([2.59608281e-01, 3.48750774e-01, 2.42861287e-17, 5.20417043e-18, 8.89045781e-17, 3.91640945e-01]))

In [55]:
opt_weights

AMZN   0.26
BA     0.35
DIS    0.00
FB     0.00
IBM    0.00
MSFT   0.39
dtype: float64

In [57]:
ret["MP"] = ret.dot(opt_weights)
ret

ValueError: matrices are not aligned

In [58]:
summary = ann_risk_return(ret)

In [59]:
weighted_av = summary.loc[:"MSFT", ["Return", "Risk"]].T.dot(opt_weights)
weighted_av

Return   0.26
Risk     0.25
dtype: float64

In [61]:
summary

      Return  Risk  Sharpe
AMZN    0.31  0.31    0.95
BA      0.22  0.23    0.88
DIS     0.10  0.19    0.44
FB      0.22  0.30    0.69
IBM    -0.04  0.20   -0.31
MSFT    0.25  0.23    1.01
MP      0.26  0.20    1.20

In [62]:
plt.figure(figsize = (15, 8))
plt.scatter(port_summary.loc[:, "Risk"], port_summary.loc[:, "Return"], s= 20, c = port_summary.loc[:, "Sharpe"], cmap = "coolwarm", vmin = 0.76, vmax = 1.18, alpha = 0.8)
plt.colorbar()
plt.scatter(summary.loc["MP", "Risk"], summary.loc["MP", "Return"],s= 500, c = "black", marker = "*")
plt.annotate("Max SR Portfolio", xy=(summary.loc["MP", "Risk"]-0.04, summary.loc["MP", "Return"]+0.01), size = 20, color = "black")
plt.xlabel("ann. Risk(std)", fontsize = 15)
plt.ylabel("ann. Return", fontsize = 15)
plt.title("The Max Sharpe Ratio Portfolio", fontsize = 20)
plt.show()

NameError: name 'port_summary' is not defined