# Coding Exercises (Part 8)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Pandas: Advanced Topics

### Exercise 8: Creating and Removing Rows and Columns

In [1]:
#run the cell!
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [2]:
#run the cell!
listings = pd.read_csv("listings_clean.csv")

In [3]:
#run the cell!
listings.head()

,Symbol,Exchange,Name,Last_Price,Market_Cap,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,25934696179.92,1999,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5407809589.60,2016,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,42781131315.30,1969,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,53141086.80,2014,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,15276869742.96,1969,Transportation,Air Freight/Delivery Services

In [4]:
# run the cell!
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6852 entries, 0 to 6851
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      6852 non-null   object
 1   Exchange    6852 non-null   object
 2   Name        6852 non-null   object
 3   Last_Price  6745 non-null   float64
 4   Market_Cap  5954 non-null   float64
 5   IPO_Year    6852 non-null   int64
 6   Sector      5309 non-null   object
 7   Industry    5309 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 428.4+ KB

76. __Drop__ the columns __"Symbol"__ and __"Sector"__ from the DataFrame listings! __Save__ the change! __Fill in the gaps!__

In [5]:
listings.drop(columns = ["Symbol", "Sector"], inplace = True)

In [6]:
# run the cell!
listings.head()

,Exchange,Name,Last_Price,Market_Cap,IPO_Year,Industry
0,NYSE,"Agilent Technologies, Inc.",81.68,25934696179.92,1999,Biotechnology: Laboratory Analytical Instruments
1,NYSE,Alcoa Corporation,29.15,5407809589.60,2016,Aluminum
2,NASDAQ,Altaba Inc.,75.39,42781131315.30,1969,EDP Services
3,NYSE,"AAC Holdings, Inc.",2.16,53141086.80,2014,Medical Specialities
4,NASDAQ,"American Airlines Group, Inc.",34.02,15276869742.96,1969,Air Freight/Delivery Services

77. __Drop__ all rows/listings on __"AMEX"__ from the DataFrame listings! Use the __loc__ operator and __overwrite listings__!<br> __Fill in the gaps!__

In [8]:
listings = listings.loc[listings.Exchange != "AMEX"]

In [9]:
# run the cell!
listings.head()

,Exchange,Name,Last_Price,Market_Cap,IPO_Year,Industry
0,NYSE,"Agilent Technologies, Inc.",81.68,25934696179.92,1999,Biotechnology: Laboratory Analytical Instruments
1,NYSE,Alcoa Corporation,29.15,5407809589.60,2016,Aluminum
2,NASDAQ,Altaba Inc.,75.39,42781131315.30,1969,EDP Services
3,NYSE,"AAC Holdings, Inc.",2.16,53141086.80,2014,Medical Specialities
4,NASDAQ,"American Airlines Group, Inc.",34.02,15276869742.96,1969,Air Freight/Delivery Services

In [ ]:
# run the cell!
listings.info()

78. __Add__ the new column __MCAP_MUSD__ (Market Cap in Million USD) to the DataFrame listings by dividing Market_Cap by 1 million. __Fill in the gaps__!

In [ ]:
listings[---] = listings.---/1000000

__Inspect__! What is the __MCAP_MUSD__ for AAC Holdings?

In [ ]:
# run the cell!
listings.head()

AAC Holdings has a Market Cap of ... 53.14 MUSD!

79. __Add__ the new column __Shares__ with the total amount of __shares outstanding__ for each listing. __Divide__ __Market_Cap__ by the __Last_Price__! <br>
Instead of using the arithmetic sign "/", use an __appropriate method for division__!

In [ ]:
# run the cell!
listings.head()

In [ ]:
# run the cell!
listings.info()

80. __Sort__ listings by the __Shares__ column from __high to low__. Which listing has the __largest number__ of shares outstanding

Lloyds Banking Group has over 17 billion shares outstanding!

81. LetÂ´s assume we have the listings for NYSE, NASDAQ and AMEX in __three separate datasets__. __Import__ the three datasets into Pandas and __inspect__!

In [ ]:
# run the cell!
nyse = pd.read_csv("NYSE.csv")
nasdaq = pd.read_csv("NASDAQ.csv") 
amex = pd.read_csv("AMEX.csv")

In [ ]:
# run the cell!
nyse.head()

In [ ]:
# run the cell!
nyse.info()

In [ ]:
# run the cell!
nasdaq.head()

In [ ]:
# run the cell!
nasdaq.info()

In [ ]:
# run the cell!
amex.head()

In [ ]:
# run the cell!
amex.info()

82. __Concatenate__ the three DataFrames into one DataFrame and save the new DataFrame in the variable __all_listings__! <br>
Each row/listing should contain information about the respective __Exchange__ (__NYSE__, __NASDAQ__ or __AMEX__)! __Fill in the gaps__!

In [ ]:
all_listings = pd.---([nyse, ---, ---], --- = [---, "NASDAQ", "AMEX"], names = ["Exchange"])

In [ ]:
# run the cell!
all_listings.head()

In [ ]:
# run the cell to tidy up!
all_listings = all_listings.reset_index().drop(columns = "level_1")

How many listings does __listings_all__ contain in total?

In [ ]:
# run and inspect!
all_listings.head()

In [ ]:
# run and inspect!
all_listings.info()

There are in total ... 6852 listings!

# Well Done!

---------------------------------

# Hints (Spoiler!)

76. drop() method, columns parameter

77. listings.Exchange != "AMEX"

78. pass "MCAP_MUSD" as new column label, Market_Cap column

79. use the div() method -> listings[---] = listings.---.div(listings.---)

80. sort_values() method

81. run the cells and inspects!

82. pd.concat() method, keys parameter